/* General */
body {
    background: #dda;
}

.no-padding {
    padding: 0;
}
/**/


/* Header */
header {
    background-color: #893;
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    box-shadow: 0 2px 15px -1px rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;

    z-index: 100;

    min-width: 440px;
}

.navbar-toggle-custom {
    margin-top: -11px;
    margin-right: -11px;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}

.brand-custom {
    padding: 0;
    margin: 25px 20px;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.brand-small {
    font-size: 12pt;
}

.nav-btns {
    position: absolute;
    right: 0 !important;
}

.navbar-margin-right {
    right: 15px;
}

.btn-navbar {
    background: none;
    border: none;
    border-radius: 0 !important;
    padding: 27px 10px !important;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.btn-navbar:hover {
    cursor: pointer;
    text-shadow: none;

    background: #671 !important;
    color: white !important;
}
/**/


/* Sections and all related to */
section {
    background-color: white;
    min-width: 400px;
    max-width: 1000px;
    width: 80%;
    margin: 30px auto;
    padding: 10px;

    border: 1px solid black;
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.7);

    animation: sectionsShowing 0.5s;

    text-align: justify;
}

section:first-child {
    margin-top: 120px;
}

@keyframes sectionsShowing {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 15px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

small {
    color: #737373;
    font-size: 80%;
}

.section-text {
    margin: 15px;
}

textarea {
    resize: vertical;
}
/**/